/* css reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
/* google font */
body{
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
      
}
a{
   text-decoration: none;     
}
.container{
    display: grid;
    grid-template-columns: [start]1fr [content-start] repeat(12,88px) [content-end] 1fr[end];
    gap: 24px;
}
/* header section stat */
.header-section{
    grid-column:content-start/content-end ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
}
nav{
    display: flex; 
    gap: 48px; 
  
}

nav ul{
    display: flex;
    list-style: none;
    gap: 48px; 
  
    color: rgba(51, 51, 51, 1);
}
nav a{
    color: rgba(51, 51, 51, 1);
    font-size: 16px; 
    line-height: 24px;
    font-weight: 500;
}
.bg-primary-blue{
   background-color: rgba(165, 61, 255, 1);
   color: #fff;
   padding: 12px;
   width: 111px;
   height: 48px;
   border-radius: 4px;

}